<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - PENS</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><img class="img-fluid" src="assets/img/Logo_PENS_putih.png" width="50 px"></div>
                    <div class="sidebar-brand-text mx-3"><span>PENS</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="lab.html"><i class="fa fa-flask"></i><span>Ruang Laboratorium</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="rKuliah.html"><i class="fa fa-building-o"></i><span>Ruang Kuliah</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="rAdmin.html"><i class="fa fa-money"></i><span>Ruang Administrasi dan lain</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="rPegawai.html"><i class="fa fa-mortar-board"></i><span>Informasi Dosen Dan Pegawai</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Dimas Triandi Putra</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>gedung</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>4</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-building fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>laboratorium</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>90</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Ruangan</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>100</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-building fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Dosen</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>300</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-graduation-cap fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xl-6">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Gedung</h6>
                                    <div class="pb-0 pt-2">
                                        <div class="align-items-center form-row">
                                            <div class="form-group col-sm"><input type="text" class="form-control pl-4 pr-4 rounded-pill" name="search" placeholder="Search..."></div>
                                            <div class="form-group col-sm-auto text-right"><button class="btn btn-primary pl-4 pr-4 rounded-pill" type="submit"><i class="fa fa-search"></i></button></div>
                                        </div>
                                    </div>
                                </div><div class="card-body">
        <div class="scroll">
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
              <th scope="col">#</th>
              <th scope="col">Nama Gedung</th>
              <th scope="col">Jumlah laboratoryum</th>
              <th scope="col">Jumlah Ruangan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
    </table>
        </div>
</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Laboratorium</h6>
                                    <div class="pb-0 pt-2">
                                        <div class="align-items-center form-row">
                                            <div class="form-group col-sm"><input type="text" class="form-control pl-4 pr-4 rounded-pill" name="search" placeholder="Search..."></div>
                                            <div class="form-group col-sm-auto text-right"><button class="btn btn-primary pl-4 pr-4 rounded-pill" type="submit"><i class="fa fa-search"></i></button></div>
                                        </div>
                                    </div>
                                </div><div class="card-body">
    <div class="scroll">
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
              <th scope="col">#</th>
              <th scope="col">Nama laboratorium</th>
                <th scope="col">Lokasi</th>
              <th scope="col">Nama Ketua</th>
              <th scope="col">Jumlah Anggota Dosen</th>
            </tr>
        </thead>
        
        <tbody class="">
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
                <td>7</td>
            </tr>
          </tbody>
        
    </table>
    </div>
</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Dosen</h6>
                                    <div class="pb-0 pt-2">
                                        <div class="align-items-center form-row">
                                            <div class="form-group col-sm"><input type="text" class="form-control pl-4 pr-4 rounded-pill" name="search" placeholder="Search..."></div>
                                            <div class="form-group col-sm-auto text-right"><button class="btn btn-primary pl-4 pr-4 rounded-pill" type="submit"><i class="fa fa-search"></i></button></div>
                                        </div>
                                    </div>
                                </div><div class="card-body">
    <div class="scroll">
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
              <th scope="col">#</th>
              <th scope="col">Nama Dosen</th>
              <th scope="col">NIP</th>
              <th scope="col">Dosen Jurusan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
                <td>Thornton</td>
              <td>@twitter</td>
            </tr>
          </tbody>
    </table>
    </div>
</div>
                            </div>
                        </div>
                        <div class="col">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © PENS 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>